body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 50px;
}

.first-section {
    background-image: url("the\ sufferings.jpg");
    opacity: 90%;
    background-repeat: no-repeat;
    height: 450px;
    background-position: center top;
    background-size: cover;
    padding-top: 100px;
}

h1 {
    font-size: 55px;
}

h4 {
    font-size: 15px;
}

.top-heading {
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

#donate-button {
    background-color: rgb(248, 71, 71);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 40px;
}

.donation-collecting {
    text-align: center;
}

.amount-button {
    margin-top: 60px;
    padding: 30px 25px;
    border: none;
    border-radius: 5%;
    background-color: rgba(238, 228, 228, 0.445);
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
}

#red-button {
    border: 2px solid rgb(248, 71, 71);
    background-color: rgba(255, 0, 0, 0.11);
    color: rgb(248, 71, 71);
}

h5 {
    text-align: center;
    color: rgba(201, 191, 191, 0.788);
    margin-top: 5%;
}

hr {
    border: 1px solid rgba(201, 191, 191, 0.788);
    width: 50%;
}

.donation-plan-heading {
    text-align: center;
}

.donation-plan {
    display: flex;
}

.donation-item {
    width: 500px;
    height: 250px;
    margin-top: 5%;
    margin-left: 6%;
    padding-left: 5px;
    padding-top: 5%;
}

p {
    font-size: 15px;
}

#food {
    background-color: rgb(253, 230, 234);
}

#medicine {
    background-color: rgb(232, 250, 250);


}

#shelter {
    background-color: rgb(237, 248, 221);
    margin-right: 80px;
}

.membership {
    display: flex;
    width: 30% 30%;
    padding: 5% 5%;
    background-color: rgba(255, 238, 241, 0.842);
}

.membership-details {
    margin-top: 3%;
}

h2 {
    font-size: 33px;
}

.membership-button {
    background-image: linear-gradient(rgb(132, 209, 132), rgb(230, 230, 115));
    padding: 20px 10px;
    font-weight: bold;
    color: rgb(12, 12, 78);
    border: none;
    border-radius: 5%;
    margin-left: 20px;
}

.volunteer {
    display: flex;
    width: 30% 30%;
    padding: 5% 5%;
    background-color: rgba(252, 252, 190, 0.774);
}

.volunteer-details {
    margin-top: 3%;
    margin-left: 5%;
}

.contact-button {
    background-image: linear-gradient(rgb(175, 90, 192), rgb(222, 158, 228));
    padding: 20px 10px;
    font-weight: bold;
    color: rgb(12, 12, 78);
    border: none;
    border-radius: 5%;
    margin-left: 20px;
}

.updates {
    text-align: center;
}

.color-box {
    background-color: rgba(255, 217, 217, 0.5);
    width: 60%;
    height: 150px;
    margin-left: 20%;
    margin-top: 3%;
}

#email {
    background-color: rgb(192, 191, 191);
    border: none;
    padding: 8px 23%;
    margin-top: 50px;
    margin-left: 130px;
    color: gray;
}

#subscribe {
    background-color: rgb(248, 71, 71);
    border: none;
    padding: 8px 30px;
    margin-left: -5px;
    margin-right: 15%;
    color: white;
}

.footer {
    background-color: rgba(6, 8, 17, 0.966);
    color: white;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: 110px;
}

#last-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    color: rgb(130, 189, 189);
}

h6 {
    font-size: 15px;
}